<nav class="navbar navbar-light navbar-expand-lg bg-light">
  <a class="navbar-brand">Navbar</a>
  <ul class="navbar-nav">
    <li class="navbar-item">
      <a class="nav-link" routerLinkActive="active" routerLink="search">Search</a>
    </li>
  </ul>
  <ul class="navbar-nav nav ml-auto">
    <li class="navbar-item">
      <a class="nav-link" routerLinkActive="active" routerLink="signin">Sign In</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link" routerLinkActive="active" routerLink="signup">Sign Up</a>
    </li>
  </ul>
</nav>